body {
      color: rgb(11, 137, 187); /* Text color for the body */
      background-color: rgb(243, 216, 184); /* Background color for the body */
      font-family: "Arial", sans-serif; /* Font family for the body */
      text-align: center;
    }
header{
    background-color: blanchedalmond;

}

    h1 {
      color: #333; /* Text color for the heading */
      font-family: "Times New Roman", Times, serif; /* Font family for the heading */
    }

    ul.navbar {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        background-color: aliceblue;
    }

    ul.navbar li {
        margin-right: 10px;
    }

    select.dropdown {
        margin-top: 1em;
      }
      
      @media all {
        /* Styles for all devices */
        body {
            font-size: 16px;
          /* Additional styles for all media types */
        }
      }
      
      @media print {
        /* Styles for printing */
        body {
          /* Additional styles for print media */
          font-size: 12pt; 
          color: #000;
        }
      }

    