body {
      color: rgb(11, 137, 187); /* Text color for the body */
      background-color: rgb(243, 216, 184); /* Background color for the body */
      font-family: "Arial", sans-serif; /* Font family for the body */
      text-align: center;
    }
header{
    background-color: blanchedalmond;
    text-align: center;
}

    h1 {
      color: #333; /* Text color for the heading */
      font-family: "Times New Roman", Times, serif; /* Font family for the heading */
    }

    .navbar li {
        margin-right: 20px; /* 添加右邊間距 */
    }

    ul.navbar {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        background-color: aliceblue;
    }
    .dropdown-item {
        position: relative;
        display: inline-block;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0 8px 16px rgba(0,0,0,0.2);
        z-index: 1;
      }
      
      .dropdown-item:hover .dropdown-content {
        display: flex;
        flex-direction: row; /* Display items horizontally */
        align-items: center; /* Center items vertically */
        justify-content: center; /* Center items horizontally */
      }
      
      /* Style the dropdown items */
      .dropdown-item .dropdown-content .dropdown-item {
        padding: 8px 12px;
        border-bottom: 1px solid #ddd;
        white-space: nowrap; /* Prevent line breaks */
      }
      
      .dropdown-item .dropdown-content .dropdown-item:last-child {
        border-bottom: none; /* Remove border for the last item */
      }

   
      
      @media all {
        /* Styles for all devices */
        body {
            font-size: 16px;
          /* Additional styles for all media types */
        }
      }
      
      @media print {
        /* Styles for printing */
        body {
          /* Additional styles for print media */
          font-size: 12pt; 
          color: #000;
        }
      }

    